/*& CONTACT PAGE STYLING*/
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: var(--light-gray);
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 1rem;
    margin-top: 20px;
}

/*& EACH SECTION'S CARD */
.contact-section {
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 2rem;
    width: 100%;
    max-width: 750px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

#contactSection {
    background: #fff;
    color: var(--darkText);
}

#contactSection .main-heading {
    color: var(--mainColor);
}

#contactSection i {
    font-size: 2.5rem;
    color: var(--mainColor);
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

i:hover {
    color: var(--hoverColor);
    transform: translateY(-10px);
}

/*~ REACH SECTION */
.contact-content {
    margin-bottom: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0.6rem 0;
}

strong {
    color: var(--secondaryColor);
}

.social-links {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

/*~ FAQ SECTION */
#faqSection {
    background-color: var(--mainColor);
    color: var(--whiteText);
}

#faqSection .main-heading {
    color: var(--whiteText);
}

.faq-cont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.faq-questions {
    font-size: 1.2rem;
    color: var(--whiteText);
}

#faqSection .faq-answer {
    font-weight: 600;
    color: var(--lightText);
}

/*~ RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .main-wrapper {
        flex-direction: column;
        align-items: center;
    }
}