/*~ FAQ STYLES */

.wrapper {
    /* padding: 50px 120px; */
    max-width: 1200px;
    margin: 40px auto;
    background-color: var(--lightgray);
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accordion-item {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1
    );
}

.accordion-button {
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid transparent;
}

.accordion-button:after {
    content: "";
    background-image: url('../../public/Icons/arrow-up.svg');
    transform: rotate(-180deg);
}

.accordion-button:focus {
    border-color: var(--whiteText);
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
    color: #000;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../../public/Icons/arrow-up.svg');
    transform: rotate(0);
}

.accordion-body {
    font-size: 1.2rem;
    font-weight: 600;
}

.main-heading {
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 1024px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 660px) {
    .main-heading {
        font-size: 1.8rem;
    }

    .accordion-body {
        font-size: 1rem;
    }
}